/* bearbotics.html */
body {
  background-color: #E0DCE8;
}

h3 {
  margin-left: 10px;
  font-size: 150%;
  font-family: "Roboto Mono", monospace;
  color: black;
}

ul {
  list-style-type: none;
  margin: -10px;
  padding: 0;
  overflow: hidden;
  background-color: #DE0000;
  width: 101.4%;
  top: 0;
  left: 0;
}

.title {
  float: left;
  color: black;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Public Sans", sans-serif;
}

.links {
  display: flex;
  flex-direction: row;
  float: right;
  font-size: 110%;
  font-family: "Roboto Mono", monospace;
}

li a:hover {
  background-color: #E0DCE8;
  color: #DE0000
}

.a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #DE0000;
  color: black
}

li .a {
  text-decoration: none;
}

.bear {
  float: left;
  width: 85px;
  padding: 5px;
  border-radius: 50%;
}

/* gallery.html */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  max-height: 500px;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.lightbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.row1 > .column1 {
  padding: 0 8px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column1 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content1 {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 500px;
}

/* The Close Button */
.close1 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides1 {
  display: none;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.demo1 {
  opacity: 0.6;
  max-width: 200px;
  max-height: 300px;
}

.active1,
.demo1:hover {
  opacity: 1;
}

img.hover-shadow1 {
  transition: 0.3s;
}

.hover-shadow1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row2 > .column2 {
  padding: 0 8px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column2 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content2 {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 500px;
}

/* The Close Button */
.close2 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.demo2 {
  opacity: 0.6;
  max-width: 200px;
  max-height: 300px;
}

.active2,
.demo2:hover {
  opacity: 1;
}

img.hover-shadow2 {
  transition: 0.3s;
}

.hover-shadow2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row3 > .column3 {
  padding: 0 8px;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column3 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content3 {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 500px;
}

/* The Close Button */
.close3 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides3 {
  display: none;
}

/* Next & previous buttons */
.prev3,
.next3 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover,
.next3:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.demo3 {
  opacity: 0.6;
  max-width: 200px;
  max-height: 300px;
}

.active3,
.demo3:hover {
  opacity: 1;
}

img.hover-shadow3 {
  transition: 0.3s;
}

.hover-shadow3:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
